@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.sidenav {
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: -250px;
    background-color: rgb(31, 72, 126);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    height: 100%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "Open Sans",sans-serif;
  }
  
  .sidenav a:hover {
    color: rgb(31, 72, 126);
    background-color: #ccebff;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .open {
    left: 0;
  }