<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        padding-left: 2%;
        padding-top: 22px;
    }
    button {
        width: 150px;
        height: 50px;
        margin-top: 10px;
        margin-left: 2%;
    }
</style>
<body>
    <div class="header" style="height: 80px; background-color: lightblue; width: 100%;">
        <h1>Welcome!</h1>
    </div>

    <button>Book</button>
    <button>Settings</button><br>
    <button>Admin</button>
    <button>History</button>
</body>
</html>